@{
    ViewBag.Title = "Bank Accounter";

}


<div>
    @Html.ActionLink("List of customers", "Index", "Customers", "Bank", "Account")<br />
    @Html.ActionLink("List of accounts", "Index", "Accounts", "Customer", "Bank")<br />
    @Html.ActionLink("List of banks", "Index", "Banks","Account")
</div>


